img.center{
	display: block;   margin-left: auto;   margin-right: auto; 
}

#things{

	border: 5px solid #fff;
	margin-left: auto;
	margin-right: auto;
	font: 20px "Segoe UI";
	padding: 20px 0px 20px 0px;
	border-radius: 10px;
	background-color: #daaa4d;
}